._2ajm{color:#929598;line-height:1.8}
._3nnr{position:relative}._3nnv{bottom:-36px;position:absolute;right:0;z-index:1}
._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}
.sp_3jV8Jy30EE8{background-image:url(/rsrc.php/v3/yA/r/uSnEoIxdP-C.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_3jV8Jy30EE8.sx_873f80{background-position:0 0}.sp_3jV8Jy30EE8.sx_637192{width:32px;height:32px;background-position:0 -37px}

#bootloader_PlWvC{height:42px;}.bootloader_PlWvC{display:block!important;}